{% extends "base.html" %}
{% block content %}
    <h2>New Diary Entry</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=40) }}
        </p>
        <p>
            {{ form.mood.label }}<br>
            {{ form.mood(size=10) }}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content(rows=5, cols=50, maxlength=300, placeholder="內容上限300字") }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
